.sidebar {
  width: 160px;
  background-color: orange;
  // position: fixed;
  &__item {
    height: 40px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    p {
      font-size: 24px;
      color: white;
    }
  }
}
